@model IEnumerable<BeautyStore.BeautyStoreModels.Inventory>

@{
    ViewData["Title"] = "Inventories Home";
}

<h1>Inventories List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="DetailsTable">
    <thead>
        <tr>
            <th>
                Inventory Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InventoriesId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InventoriesId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InventoriesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            INitializeTable("DetailsTable");

        });

    </script>
}