@model IEnumerable<BeautyStore.BeautyStoreModels.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="DetailsTable">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    <a asp-action="OrdersHistory" asp-route-id="@item.LocationId">Orders History</a> |
                    <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            INitializeTable("DetailsTable");

        });

    </script>
}